*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Oo]bj/
[Ll]og/

.vs/
App_Data/
packages/
CryptocurrencyRateWebApp/bin/CryptocurrencyRateWebApp.dll
CryptocurrencyRateWebApp/bin/CryptocurrencyRateWebApp.pdb